@charset "UTF-8";
body {
    background-color: rgb(108, 108, 165);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2em;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.262);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    text-align: center;
}